/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
body, small, .sub-menu-container .menu-item > .menu-link, .wp-caption, .fbox-center.fbox-italic p, .skills li .progress-percent .counter, .nav-tree ul ul a, .font-body, h1, h2, h3, h4, h5, h6, #logo a, .menu-link, .mega-menu-style-2 .mega-menu-title > .menu-link, .top-search-form input, .entry-link, .entry.entry-date-section span, .button.button-desc, .fbox-content h3, .tab-nav-lg li a, .counter, label, .widget-filter-links li a, .nav-tree li a, .wedding-head, .font-primary, .entry-link span, .entry blockquote p, .more-link, .comment-content .comment-author span, .comment-content .comment-author span a, .button.button-desc span, .testi-content p, .team-title span, .before-heading, .wedding-head .first-name span, .wedding-head .last-name span, .font-secondary {
	font-family: 'Calibri', sans-serif !important;
}

h1 > span:not(.nocolor):not(.badge), h2 > span:not(.nocolor):not(.badge), h3 > span:not(.nocolor):not(.badge), h4 > span:not(.nocolor):not(.badge), h5 > span:not(.nocolor):not(.badge), h6 > span:not(.nocolor):not(.badge) {
    color: #198e0e;
}

.bg-color, .bg-color #header-wrap {
    background-color: #198e0e !important;
}
.fbox-content p {
	margin-top: 0px;
}
.pagination.pagination-circle .page-item .page-link {
	border-radius: 5px;
}
.fbox-icon i, .fbox-icon img {
	background-color: #ffffff;
}
#header-wrap {
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.content-wrap {
	padding: 50px 0;
}
.portfolio-parallax .portfolio-image {
	background-size: cover !important;
}
@media only screen and (max-width: 960px){
	.header-row {
		margin: 15px 0px;
	}
}
.sidebar-widgets-wrap .widget_links ul li, .sidebar-widgets-wrap .widget_links ul li a {
	color: #343a40 !important;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
}
.sidebar-widgets-wrap .widget_links ul li.active, .sidebar-widgets-wrap .widget_links ul li.active a {
	color: #198e0e !important;
    border-bottom: 1px solid #bdd6bb;
    padding-bottom: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
}